node_modules

.strapi
.next
.git
.DS_Store
.strapi-updater.json
.strapi-cloud.json

database/dbstrapi/data
apps/nextjs/src/config/locales.json

build
dist

license.txt
exports

*.tsbuildinfo
next-env.d.ts

.vercel

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.pem



lib-cov
lcov.info
pids
logs
results
node_modules
.node_history



*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid